.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(80, 79, 79);
  max-width: fit-content;
  padding: 1em 3em;
  border: 3px double silver;
  border-radius: 20px;
  /* ------------------------ */
  form {
    display: flex;
    flex-direction: column;
    /* ------------------------------- */
    label {
      display: flex;
      flex-direction: column;
      margin: 1em;
      /* ----------------------------- */
      input {
        font-size: 1.1rem;
      }
    }
    /* ------------------------------- */
    button {
      margin-top: 1em;
      padding: 0.5rem 1rem;
      border: 2px solid black;
      border-radius: 10px;
      /* % bei Radius besser für Kreise als Rechtecke */
    }
    button:hover {
      color: white;
      background-color: black;
    }
    /* ---------------------------------- */
  }
}
